@media screen and (max-width: 768px) {
  .form-control {
    width: 50% !important;
    /* margin: 0 auto 0 auto; */
  }
  .contain {
    border-radius: 10px;
    /* margin-top: 10px; */
    gap: 10px;
  }
  .dev-design {
    border-radius: 10px;
    margin-bottom: 20px;
  }
  .card-week {
    margin: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  }
  /* .m4 {
    margin: 10px 0;
  } */
  div.hour-card {
    width: 90%;
  }
}

  /* @media screen and (width: 320px) {
    .form-control {
      width: 70% !important;

    }
    .text-design {
      width: 50%;
      justify-self: self-end;
    }
    .dev-design {
      height: 90vh;
    }
    .medium {
      width: 50% !important;
      font-size: 1rem;
    }
    .week-nav,
    .today-nav {
      font-size: 0.9rem;
    }
  }
  @media screen and (max-width: 375px) {
    .form-control {
      width: 100% !important;
    }
} */