@media screen and (max-width: 768px) {
  .form-control {
    width: 60%;
  }
  .contain {
    border-radius: 10px;
    gap: 10px;
  }
  .dev-design {
    border-radius: 10px;
    margin-bottom: 20px;
  }
  .medium {
    display: none !important;
  }
  .loader-text {
    text-anchor: middle;
    font-family: Arial;
    font-size: 8.5px;
    fill: #ffffff;
  }
}
/* for tablet screens above 768px and below 1200px */
/* Tablet: 769px - 1199px */
@media screen and (min-width: 769px) and (max-width: 1199px) {
  .form-control {
    width: clamp(35%, 45vw, 50%);
    max-width: 450px;
    margin-inline: clamp(50px, 12vw, 120px) auto;
    /* display: block; */
  }

  .contain {
    border-radius: clamp(12px, 2vw, 16px);
    margin-top: clamp(20px, 4vw, 28px);
    margin-inline: auto;
    max-width: 95%;
  }
  .dev-design {
    border-radius: clamp(12px, 2vw, 16px);
    margin-top: clamp(10px, 1.5vw, 15px);
    margin-inline: auto;
    max-width: 95%;
  }
  .loader-text {
    text-anchor: middle;
    font-family: Arial;
    font-size: 12px;
    fill: #ffffff;
  }
}
.loader-text {
  text-anchor: middle;
  font-family: Arial;
  /* font-size: 15px; */
  fill: #ffffff;
}